<ion-content fullscreen scroll-y="false">
  <div class="container">
    <div class="container-img">
      <img src="../../assets/upbus_logo.svg">
    </div>
    <div class="container-login">
      <section class="container-inputs">
        <ion-label class="label" color="light" position="stacked">Correo Electrónico</ion-label>
        <input class="input-item" value="">
      </section>
      <section class="container-inputs">
        <ion-label class="label" color="light" position="stacked">Contraseña</ion-label>
        <input class="input-item" type="password" value="">
      </section>
      <section class="container-options" lines="none">
        <div style="display: flex;">
          <ion-checkbox mode="md" color="primary"></ion-checkbox>
          <h6 style="margin-left:6px;color: white;font-weight: 600;">Recordarme</h6>
        </div>
        <h6 style="color: #3EE2FF;font-weight: 500;">Olvide mi contraseña</h6>
      </section>

      <div class="container-button">
        <button (click)="goToMap()">Iniciar sesión</button>
      </div>
    </div>
  </div>

</ion-content>
