<ion-content [fullscreen]="true">
  <img src="../../assets/shapes.svg" width="100%" height="200px">
  <div class="container-login">
    <div class="container-welcome">
      <h1>¡Nos alegra que estés de vuelta!</h1>
    </div>
    <ion-item>
      <ion-label position="stacked">Número de identificación</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let document of documents">{{document.type}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="stacked">Tipo de identificación</ion-label>
      <ion-input></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="stacked">Número de identificación</ion-label>
      <ion-input type="text" value="1088357674"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" value="12345678"></ion-input>
    </ion-item>
    <div class="container-button">
      <ion-button shape="round">Iniciar sesión</ion-button>
    </div>
    <div class="container-account">
      <p>¿Has olvidado tú contraseña?</p>
      <p>¿No tienes cuenta? Registrate</p>
    </div>
  </div>
</ion-content>
