<ion-content [fullscreen]="true">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
        <agm-marker [latitude]="latBus" [longitude]="lngBus">
            <!-- [iconUrl]="iconBus" -->
            <agm-info-window>
                <strong>Bus</strong>
            </agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="latPerson" [longitude]="lngPerson">
            <agm-info-window>
                <strong>Marción de persona</strong>
            </agm-info-window>
        </agm-marker>
        <!-- <agm-direction [origin]="origin" [destination]="destination">
        </agm-direction> -->
    </agm-map>
</ion-content>