agm-map {
  height: 100%;
  width: 100%;
  /* This is really important*/
}



.container-info {
  position: fixed;
  width: 100%;
  padding: 2px;
  background: radial-gradient(circle, rgba(36, 104, 131, 1) 11%, rgba(20, 29, 55, 0.9668242296918768) 100%, rgba(62, 226, 255, 1) 100%);
  border-radius: 20px 20px 0px 0px;
  height: 110px;
  bottom: 0;

  .container-person {
    margin-top: 24px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

    .info-driver {
      margin-left: -44px;

      h5 {
        color: white;
      }

      p {
        font-size: 15px;
        color: #A7A7A7;
      }
    }

    .container-logo {
      margin-top: 10px;
    }

    .container-icons {
      position: absolute;
      bottom: 76px;
      right: 15px;

      img {
        height: 22px;
        width: 30px;
      }
    }
  }
}
